:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark:  #1e1e1e;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0))
}

.dark-body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: lightgray;
    background-color: #1e1e1e;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}
.dark-text{
    color: var(--bs-white);
}
.guide{
    display: flex;
    font-size: 25px;
    flex-direction: column;
    text-align: center;
    line-height: 1.8;
    align-items: center;
    background-color: #1e1e1e;
    color: lightgray;
}

.guide a{
    color: var(--bs-primary);
}

.recently_watch{
    background: none;
    display: flex;
    justify-content: center;
    width: 1100px;
    margin: auto;
}
.recently_watch h6{
    text-align: center;
}
.recently_watch a{
    text-decoration: none;
}

.recently_watch .card {
    width: 200px;
    background: none;
    border: none;
    margin-left: 20px;
}
.recently_watch .card:first-child{
     margin-left: 0px;
}
.recently_watch img{
    height: 300px;
}
.copied{
    position: absolute;
    background-color: #1e1e1e;
    border: 1px solid #fd7e14;
    border-color:#fd7e14;
    border-radius: 40px;
}
.copied p{
    padding: 5px 10px 5px 10px;
    margin: 0;
}
.translations-table{
    border: 2px solid var(--bs-gray);
    border-radius: 5px;
}
.translations-table td{
    padding: 10px;


}
.episode-number{
    background: none;
    height: 32px;
    width: 32px;
    border: 1px solid var(--bs-gray);
    border-radius: 5px;
}
.last-watched{
    border: 1px solid #fd7e14;

}